.navbar
{
  background-color: #5A63E8;
}
.navbar-brand img
{
  width: 20%;
  height: 50%;
}

/*Home Page CSS */
#homePageInfo
{
  background-image: url('images/Moving_Line_Graph.gif');
  background-repeat: no-repeat;
  background-size: cover;
}

.card
{
  background-color: #C4C4C4;
}

/*Projects Page*/
.btn .btn-outline-primary
{
  outline-color: #FA04FF
}

/*Not currently working */ 
#projectListing:hover #projectHover
{
  display: block;
}
