/* Navbar style */
.navbar
{
  background-color: #5A63E8;
}

.navbar-brand img
{
  width: 20%;
  height: 50%;
}

.nav-item
{
  font-size: 125%;
}

.navbar-toggler
{
  align-items: right;
}

#logInButton
{
    color: white;
    border-color: #FA04FF;
    width: 25%;
    /* Rounded rectangles*/
    border-radius: 25px;
}

#logInButton:hover
{
  background-color: #FA04FF
}

/*Home Page CSS */
/* Originally had the bkgnd img under the card, but moved it to the
whole body, so it covers the whole page regardless of the card
size */
#homePage
{
  background-image: url('images/Moving_Line_Graph.gif');
  background-repeat: no-repeat;
  background-size: cover;
}

/* Centers the card and custom adjustments to
make it look more centered */
/* Opacity is for the transparent background */
#homePageCard
{
  align-items: center;
  margin: auto;
  margin-top: 5%;
  background-color: #C4C4C4;
  opacity: 75%;
  width: 35%;
  border-radius: 15px;
}

#homePageTitle
{
  text-align:center;
}

#homePageText
{
  color: black;
  text-align: center;
}

#learnMoreBtn
{
   /* background-color: #FF6E04;
   border-color: #FF6E04; */
   background-color: #fc8c03;
   border-color: #fc8c03;
}

#learnMoreBtn:hover
{
  background-color: #FF6E04;
}

/*Projects Page*/
#filtering
{
  align-items: center;
  padding-top: 1%;
}

.btn .btn-outline-primary
{
  outline-color: #FA04FF
}


/* Modified from https://bootstrapious.com/p/bootstrap-image-hover */
/* Added padding to create some space between the grids */
.hover-3
{
  padding: 5%;
}

/* Begins the standard templating before the hover for each grid element */
.hover-3-title
{
  opacity: 0;
}

.hover-3-content {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  transform: translateY(-50%);
  text-align: center;
  z-index: 99;
}

.hover-3-description {
  opacity: 0;
  transform: scale(1.3);
  transition: all 0.3s;
}

.hover-3 img {
  width: 110%;
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
}

/* Begin the hover formatting */
.hover-3 .hover-overlay {
  background: rgba(0, 0, 0, 0.2);
}

.hover-3:hover img {
  width: 110%;
}

.hover-3:hover::after {
  opacity: 1;
  transform: none;
}

.hover-3-title:hover
{
  opacity: 1;
}

/*On hover, the description shows up*/
.hover-3:hover .hover-3-description{
  opacity: 1;
  transform: none;
  color: black;
}

.hover-3-content:hover
{
    background-color: #fc8c03;
}

.hover-3:hover .hover-overlay {
  background: #fc8c03;
}

/*Project Description Page */
#projectDescription
{
  text-align: center;
}

#projectDescription img
{
  float: left;
}
